/* malayalam fonts section */

@import url('https://smc.org.in/fonts/meera.css');
@import url('https://smc.org.in/fonts/uroob.css');

mobile-menu-area{
    max-width: 100vw;
}
.sports-inner h3{
    font-family: 'Noto Serif Malayalam', serif;
}

.sports-inner-cover h3{
    font-size: 2rem;
}

.post-wrapper h3{
    font-size: 1.5rem;
}

.hero-section h3{
    font-family: 'Noto Serif Malayalam', serif;
}
.post-title-author-details h3,.post-date,.post-title-author-details p{
    font-family: 'Noto Serif Malayalam', serif;
}
.post-date{
    font-size: 1rem;
}
.post-title-author-details p{
    font-size: 1.2rem;
}

/* custom font section end */

.top_banner_wrap{
    /* //background-color: rgb(15, 15, 15); */
}
.navbar{
    /* //background-color: rgb(15, 15, 15); */
}
.header-banner{
    border-top: 0.5px solid white;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: -1.4em;

}
.header-banner img{
    width: 500px;
}
img{
    border-radius: 10px;
}

.news-feed{
    background-color: #fff;
}

.pdf-version{
    padding: 2em;
    /* background-color: rgb(0, 0, 0); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pdf-version img{
    transition: all 150ms ease-in-out;
    &:hover{
            transform: scale(1.05);
    }
}

.pdf-version>.category-headding-cover{
    font-size: 2rem;
    font-family: 'Noto Serif Malayalam', serif;
    color: #f60d2b;
}

.headding-pdf-version{
    font-size: 2rem;
    color: #f60d2b;
    font-weight: bold;
}

.headding-border{
    background-color: white;
}

.sports-inner{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(0, 0, 0);
    padding: 2em;
    border-radius: 10px;
}

.sports-inner h3 a{
    color: #000000;
    font-weight: bold;
}
.sports-inner h3 a:hover{
    color: #f60d2b;;
}

.header-banner{
    display: flex;
    justify-content: center;
}


.category-headding, .category-headding-cover{
    color: #f60d2b;
}

.sports-inner img{
    transition: all 150ms ease-in-out;
    &:hover{
            transform: scale(1.05);
    }
}

@media only screen and (max-width: 500px){
    .pdf-version>.category-headding-cover{
        font-size: 2.5rem;
    }
    .post-title-author-details h3{
        font-size: 1.5rem;
    }
}
.post-title-author-details h3{
    font-size: 1.7rem;
}