body{
    background-color: white;
}
.form-container{
    background-color: #efdfdf;
    border-radius: 5rem;
    flex-direction: column;
    @media (max-width: 575px) {
        width: 90vw;
        padding: 0 1em;
  }
    
    button{
        border: none;
    }

    .select-sub-card{
        font-size: 1.5rem;
        color: white;
        background-color: #f60d2b;
        border-radius: 5rem;
        cursor: pointer;
        transition: all .3s ease-out;
    }
    .select-sub-card:hover{
        transform: scale(1.1);
    }

    .sub-form{

        .radio-row{
            width: 30%;
            @media (max-width: 575px) {
                width: 100%;
          }

        }
        .form-group{
            gap: 1em;
            .form-check{
                display: flex;
                gap: 0.2em;
                margin-right: 1em;
                align-items: center;

                label{
                    margin: 0;
                    padding: 0;
                    color: black;
                }
            }
        }


        .sub-plans{
            width: 100%;
            .plan{
                background-color: #f60d2b;
                padding: 2em;
                margin-bottom: 2rem;
                border-radius: 1em;
                transition: all .3s ease-out;

                h5{
                    margin: 0;
                    color: #fff;
                }
            }
            .plan:hover{
                background-color: #efdfdf;
                border: 1px solid #f60d2b;
                h5{
                    color: black;
                }
                cursor: pointer;
            }
        }
    }
}
.sports-inner{
    .post-wrapper{
        .post-thumb{
            img{
                height: 30rem;

                @media (max-width: 575px) {
                        height: 50rem;
                  }
            }
        }
    }
}
